@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-foreground;
    background-image: url('/LandingPage.svg');
    /* background-image: url('/Home.svg'); */
    min-width: 100vw;
    /* Ensure the image covers the entire viewport width */
    min-height: 100vh;
    /* Ensure the image covers the entire viewport height */
    background-size: cover;
    /* The image should cover the section */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    /* Prevent background repetition */
    background-attachment: fixed;
    /* Fix the background image when scrolling */
    margin: 0;
    /* Remove any margin that might cause white space */
    padding: 0;
  }
}

::-webkit-scrollbar {
  display: none;
}



.one {
  /* background-image: url('/Home.svg'); */
  background-size: cover;
  min-height: 100vh;
  /* Ensure the image covers the entire background */
  background-position: center;
  /* Center the background image */
  background-repeat: repeat;
  /* Prevent background repetition */
}

.two {
  /* background-image: url('/Feedback.svg'); */
  min-width: 100vw;
  background-size: cover;
  min-height: 100vh;
  /* Ensure the image covers the entire background */
  background-position: center;
  /* Center the background image */
  background-repeat: repeat;
  /* Prevent background repetition */
}

.three {
  /* background-image: url('/Feedback.svg'); */
  background-size: cover;
  min-height: 100vh;
  /* Ensure the image covers the entire background */
  background-position: center;
  /* Center the background image */
  background-repeat: repeat;
  /* Prevent background repetition */
}

/* Glittery effect using keyframes */
.glitter-text {
  position: relative;
  display: inline-block;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 3s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 3px 20px 0 rgba(219, 109, 255, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.glassmorphism-comingsoon {
  background: #712974;
  box-shadow: 0 3px 20px 0 rgba(219, 109, 255, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}