@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-foreground;
    background-image: url('/Home.svg');
    /* Path to the image in the public folder */
    background-size: cover;
    /* Ensure the image covers the entire background */
    background-position: center;
    /* Center the background image */
    background-repeat: repeat;
    /* Prevent background repetition */
  }
}

::-webkit-scrollbar {
  display: none;
}

.one {
  background-image: url('/Home.svg');
  background-size: cover;
  /* Ensure the image covers the entire background */
  background-position: center;
  /* Center the background image */
  background-repeat: repeat;
  /* Prevent background repetition */
}

/* Glittery effect using keyframes */
.glitter-text {
  position: relative;
  display: inline-block;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 3s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}

#glassmorphism {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}